body {
    font-family: "Inter", sans-serif;
    background-color: white;
}

.cyblog-plug {
    color: gray;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
}

li>p {
    margin: 0.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

@media print {
    code {
        font-family: 'Noto Sans Mono', monospace;
        font-size: 0.95rem;
    }

    body {
        max-width: 85vw;
    }
}